/* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */
@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

html{
    font-family: 'Barlow', sans-serif;
}
body{
    border: 0;
    margin: 0;
    background: #fafafa;
}
.container{
    width: 90%;
    margin: auto;
}
.loader-wrapper{
    position: relative;
    display: inline-block;
    margin-top: 300px;
   
}
.loader-wrapper-wrapper{
   
    text-align: center;
}

.loader1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c1c1c1;
    margin: 0 5px 0 5px;
    float: left;
    animation: loading 1s ease infinite;

}
.loader2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c1c1c1;
    margin: 0 5px 0 5px;
    float: left;
    animation: loading2 1s ease infinite;

}
.loader3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c1c1c1;
    margin: 0 5px 0 5px;
    float: left;
    animation: loading3 1s ease infinite;

}

@keyframes loading{
    0%, 100%{
        transform: translateX(0px);
        background: #801010;
    }
    50%{
        transform: translateX(-20px);
        background: #f9ad15;
    }
}
@keyframes loading2{
    0%, 100%{
        transform: scale(1);
        background: #f9ad15;
    }
    50%{
        transform: scale(1.4);
        background: #801010;
    }
}
@keyframes loading3{
    0%, 100%{
        transform: translateX(0px);
        background: #801010;
    }
    50%{
        transform: translateX(20px);
        background: #f9ad15;
    }
}

h1{
    font-weight: normal;
    text-align: center;
    color: #414141;
    font-size: 16px;
    margin-top: 275px;
    margin-bottom: -280px;
    padding: 0;
}