/* Global */
@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,500i,600,600i,700,700i,800,900');
html{
    font-family: 'Barlow', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    height: 300px;
}
.container{
    width: 90%;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* Nav bar */

.nav-main{
    width: 100%;
    background: #fafafa;
    top: 0;
    padding-top: 50px;
   
    position: absolute;
    display: none;
}  

.show{
    display: inherit!important;
    animation: show 0.2s ease 1;
}
.hide{
    display: none;

    
}

@keyframes show{
    0%{
        opacity: 0;
       transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}



.nav-main ul li a{
  
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #2d2d2d;   
  
}   
.selected{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #2d2d2d;
    position: absolute;
    margin-top: -15px;
    left: 20%;
    float: left;
    transition: all 0.3s ease;

}
.nav-main ul li{
    padding-top: 10px;
    text-align: left;
    width: 91%;
    height: 35px;
    cursor: pointer;
    padding-left: 30px;
    background: #fafafa;
    letter-spacing: 1px;
   
}
.nav-main ul li:hover .selected{
    width: 15px;
    height: 15px;
    border-radius: 5%;
    background: #2d2d2d;
    left:25%;
    transition: all 0.3s ease;
}
.nav-main ul li:hover{
    padding-top: 10px;
    text-align: left;
    width: 91%;
    height: 35px;
    cursor: pointer;
    padding-left: 30px;
    background: #eee;
  
    transition: all 0.3s ease;
}

.nav-main ul{
    padding: 0;
    margin: 0;
}

/* Branding */
/*mobile first*/
.branding{
    margin:0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.branding-img{

    float: left;
    margin-top: 0;
    padding-top: 5px;;
    margin-right: 10px;
}
.branding-text{
    padding-top: 12px;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    color: #590903;
}
.brand-wrapper{
    width: 50%;
    float: left;
}
.menu .menutxt{
    font-weight: 600;
    color: #2d2d2d;
    font-size: 20px;
    float: right;
    width: 60px;
    border: 2px solid #2d2d2d;  
    text-align: center;
    border-radius: 2px;
    padding-top: 2px;
    height: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu .menutxt:hover{
    font-weight: 600;
    color: #fafafa;
    background: #2d2d2d;
    font-size: 20px;
    float: right;
    width: 85px;
    border: 2px solid #2d2d2d;  
    text-align: center;
    border-radius: 2px;
    padding-top: 2px;
    height: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu-wrapper{
    width: 50%;
    float: right!important;
    padding: 0;;
    margin-top: -5px; 
    position: absolute;
    
    z-index: 1;
    
}
.menu-wrapper-wrapper{
    float: left;
  
}
.img-wrapper{
    text-align: center;
}
.lg-passive{
    opacity: 0.3;
    top: 50%;
    width: 80px;
    display: inline-block;
}
/* Hehe */
.left{
    float: none;
}
.right{
    float: none;
}

.announcement h2{
    font-weight: 400;
    color: #353535;
    margin: 0;
    padding-top: 5px;
    text-align: left;
    padding-bottom: 9px;
    font-size: 18px;
}
.announcement{
    width: 100%;
    min-height: 200px;
    background: #fafafa;
    text-align: center;
}
.announcement-box{
    width: 90%;
    display: inline-block;
    background: #f4f4f4;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.announcement-box h3{
    font-weight: 500;
    color: #590903;
    margin: 0;
    font-size: 15px;
    padding: 0;
    padding-left: 7px;
    padding-top: 2px;
    text-align: left;
    margin-bottom: -10px;
}
.announcement-box p{
    font-size: 13px;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
}

.right h2{
    font-weight: 400;
    color: #353535;
    margin: 0;
    padding-top: 5px;
    text-align: left;
    padding-bottom: 9px;
    font-size: 18px;
}
/* Footer */
footer{
    min-height: 120px;
    background: #212121;
    border-top: 1px solid #fafafa;
}
.copyright{
    font-size: 13px;
    color: #fafafa;
    margin: 0;
    padding-top: 5px 5px;
}

/* Log In  */
.login-wrapper h1{
    font-weight: 400;
    color: #353535;
    margin: 0;
    padding-top: 5px;
    text-align: left;
    padding-bottom: 9px;
    font-size: 18px;
}

.login-wrapper h3{
    text-align: center;
    font-weight: 500;
  
    color: #353535;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.login .normal-input{
    width: 145px;
    text-align: center;
    height: 30px;
    font-size: 13px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #d2d2d2;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    background: #fafafa;
    color: #353535;
    margin-top: 5px;
    margin-bottom: 20px;
    transition: all 0.3s ease;  
}
.login .normal-input:focus{
    width: 220px;
    text-align: center;
    height: 30px;
    font-size: 16px;
    border: 0;
    outline: 0;
    letter-spacing: 4px;
    border-bottom: 2px solid #d2d2d2;
    display: inline-block;
    font-weight: bold;
    background: #fafafa;
    color: #590903;
    margin-top: 5px;
    transition: all 0.3s ease;
}
.login{

    margin-top: 50px;
    text-align: center;
}