/* Global */
@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,500i,600,600i,700,700i,800,900');
html{
    font-family: 'Barlow', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #fafafa;

}
.container{
    width: 90%;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* Nav bar */

.nav-main{
    width: 100%;
    padding: 0;
    display: none;
}
.nav-main ul li a{
    padding-top: 1px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #454545;    
}   
.nav-main ul li{
    padding: 0;
    text-align: center;
    width: 100%;
    height: 25px;
    background: #fafafa;
}
.nav-main ul{
    padding: 0;
    margin: 0;
}

/* Branding */
/*mobile first*/
.branding{
    margin:0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.branding-img{
    width: 40px;
    float: left;
    margin-top: 0;
    padding-top: 5px;;
    margin-right: 10px;
}
.branding-text{
    padding-top: 12px;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    color: #590903;
}
.brand-wrapper{
    width: 50%;
    float: left;
}
.menu .menutxt{
    font-weight: 600;
    color: #2d2d2d;
    font-size: 20px;
    float: right;
    width: 60px;
    border: 2px solid #2d2d2d;  
    text-align: center;
    border-radius: 2px;
    padding-top: 2px;
    height: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu .menutxt:hover{
    font-weight: 600;
    color: #fafafa;
    background: #2d2d2d;
    font-size: 20px;
    float: right;
    width: 85px;
    border: 2px solid #2d2d2d;  
    text-align: center;
    border-radius: 2px;
    padding-top: 2px;
    height: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu-wrapper{
    width: 50%;
    float: right;
    height: 50px;
    margin-top: -5px;   
}
section#main-body{
    min-height: 200px;
}

/* Footer */
footer{
    min-height: 100px;
    background: #f2f2f2;
    border-top: 1px solid #eee;
}
.copyright{
    font-size: 12px;
    color: #4d4d4d;
    
}