.test{
    width: 500px;
    height: 500px;
    background: #fff;
}
input{
    border: 0;
    width: 200px;
    height: 30px;
    border: 1px solid #eee;
    border-width: 3px;
}
input:focus{
    outline: 0;
    
    border-bottom: 2px solid black;
    animation: 0.5s ease anim 1;
    
}

.test a{
    visibility: visible!important;

}
.test:hover a{
    visibility: hidden;
}

 @keyframes anim{
    0%{
        border-width: 0;
        width: 0;
    }
    100%{
        transform: scaleX(1);
        border-width: 2px;
        width: 200px;
    }
    
} 